:root {
  --clr-bg: rgb(0, 33, 105);
  --font-p: "Cuprum", sans-serif;
  --clr-txt: rgb(1, 33, 105);
  --clr-bg2: #4c84ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* ------------------------------------
navigatiebalk en -menu
------------------------------------ */

.navbar {
  width: 100vw;
  background-color: var(--clr-bg);
  position: fixed;
  text-align: right;
  z-index: 99;
}

.navbar button {
  border: none;
  background: var(--clr-bg);
  font-size: 1em;
  font-weight: 600;
  color: white;
  padding: 1em;
}

nav {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;

  display: none;
}

nav ul {
  list-style-type: none;
  font-size: 2em;
  font-family: var(--font-p);
  display: flex;
  flex-direction: column;
  align-items: space-around;
  text-align: center;
}

nav li {
  margin: 1em;
}

/* ------------------------------------
Hero
------------------------------------ */

header div {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Sourcyheader.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 5em;
  border-radius: 0 0 70% 70% / 0 0 5em 5em;
}

header div img {
  width: 25%;
}

/* ------------------------------------
Main
------------------------------------ */

main {
  line-height: 22px;
  font-family: var(--font-p), sans-serif;
  color: var(--clr-txt);
}

section {
  padding: 0em 1.25em;
}
section ~ section {
  margin: 5em 0;
}

/* ------------------------------------
section intro
------------------------------------ */

section:nth-of-type(1) > img {
  transform: translateY();
  z-index: -1;
}

section:nth-of-type(1) h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

/* ------------------------------------
section Producten
------------------------------------ */

section:nth-of-type(2) ul {
  list-style-type: none;
  text-align: center;
  overflow-x: auto;
  display: flex;
  padding: 2em 0;
  scroll-snap-type: x mandatory;
}

section:nth-of-type(2) li {
  width: 100vw;
  flex: 0 0 auto;
  scroll-snap-align: center;
}

section:nth-of-type(2) ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background-color: var(--clr-bg);
  padding: 0.75em 1em;
  border-radius: 2em;
}

/* ------------------------------------
section Bron
------------------------------------ */

section:nth-of-type(3) {
  background-color: var(--clr-bg2);
  text-align: center;
  color: white;
  padding: 5em 1em;
  margin-bottom: 0;
}

section:nth-of-type(3) h2 {
  margin: 1em;
  font-size: 2em;
}

section:nth-of-type(3) p {
  font-size: 1.2em;
  line-height: 1.25em;
  margin: 1.5em 1em 3em;
}
section:nth-of-type(3) a {
  background: white;
  padding: 0.75em 4em;
  text-decoration: none;
  margin: 3em 2em;
  border-radius: 2em;
  color: var(--clr-txt);
  font-size: 1.2em;
  font-weight: 100;
}

/* ------------------------------------
section animatie, beetje useless maar wel op de website
------------------------------------ */

section:nth-of-type(4) {
  margin: 0 0 1em;
  padding: 1em;
  background-image: linear-gradient(to top, var(--clr-bg) 70%, white 70%);
}

section:nth-of-type(4) h2 {
  color: white;
  font-size: 2em;
  line-height: normal;
  margin: 1em 0;
}

/* ------------------------------------
Vraag of opmerking?
------------------------------------ */

section:nth-of-type(5) {
  margin: 0;
  padding: 10em 0;
  background-image: url("../img/surfBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

section:nth-of-type(5) h2 {
  color: white;
  font-size: 4em;
  line-height: normal;
  margin-bottom: 1em;
}

section:nth-of-type(5) a {
  background: white;
  padding: 1em 5em;
  text-decoration: none;
  border-radius: 2em;
  color: var(--clr-txt);
  font-size: 1.2em;
  font-weight: 100;
}

/* ------------------------------------
Footer
------------------------------------ */

footer {
  background: var(--clr-bg);
  color: white;
  font-family: var(--font-p);
  text-align: center;
}

footer img {
  margin: 1em 0 0;
}

footer ul {
  list-style-type: none;
  margin: 2em 0;
  height: 10em;
  font-size: 1.25em;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer p {
  background-color: rgb(0, 23, 73);
  color: gray;
  padding: 1em 1em 1em;
  font-size: 1.25em;
}
